etc/
*.nob
*.vim
*.so
*.so*
*.a
*.o
a.out
*.dylib
bullet_hell
metaprogram
.DS_Store
.vscode
*.dSYM
tags
vgcore*
aseprite/atlas.json
*.log
nob
nob.old
bullet_hell.js
bullet_hell.html
bullet_hell.wasm
bullet_hell.data
build/
third_party/raylib/build/
screenshot*.png
sounds/*.mp3
*.webm
